
@import 'semantic';

/* My Styles */


img {
    max-width: 70%;
    max-height: 800px;
}

div {
    margin-left: 5em;
    margin-top: 2em;
}

i.icon {
    color: black;
    display: inline;
}

body {
    margin: 5em;
    background: ashwhite;
    display: inline-block;
}

h1 {
    text-align: center;
}
